<% if(flash.error.length > 0){ %> <% flash.error.forEach(function(error){%>
    <div style="margin: 10px 0px" class="alert alert-danger alert-dismissible">
      <%= error %>
      <!-- <button type="button" data-dismiss="alert" aria-label="Close" class="close">
        <span aria-hidden="true"> ×</span>
      </button> -->
    </div>
    
    <%})%> <%}%>
    <!-- success -->
    <% if(flash.success.length > 0){ %>
    <div style="margin: 10px 0px" class="alert alert-success alert-dismissible">
      <%= flash.success %>
      <!-- <button type="button" data-dismiss="alert" aria-label="Close" class="close">
        <span aria-hidden="true"> ×</span>
      </button> -->
    </div>
    <%}%>