<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head.ejs")%>
  </head>

  <body class="skin-2 brand-skin top-navigation">
    <%- include( "./partials/message.ejs" ) %>
    <%-body%>
  </body>
</html>
